__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/

*.egg-info/
build/
dist/
pip-wheel-metadata/

.DS_Store
Thumbs.db

.env
.venv/
venv/

*.h5
*.h5ad
demo_data/
spine/dataset/
