numpy==1.26.4
pandas==2.2.3
scipy==1.15.2
anndata==0.11.4
scanpy==1.11.0
scprep
scikit-learn==1.6.1
h5py
matplotlib
pillow

torch==2.7.0
torchvision==0.22.0
torch-geometric==2.6.1
einops==0.8.1
timm==1.0.15
transformers==4.51.3

mygene
